{{ define "Header" }}
<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title> Go CRUD para Alta Disponibilidade</title>
    </head>
    <body>
        <h1>Aluno: Joao Gabriel da Silva Santos</h1>
        <p>CRUD Feito em Golang</p>
{{ end }}